@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9f7f3;
  --foreground: #1d2117;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta-sans), system-ui, sans-serif;
}
